
<div class="container">
  <div class="button-wrapper">
    <button mat-raised-button
            color="primary"
            (click)="startTimer()">
      Start
    </button>
    <button mat-raised-button
            color="primary"
            (click)="stopTimer()">
      Stop
    </button>
    <button mat-raised-button
            color="primary"
            (click)="wait()">
      Wait
    </button>
    <button mat-raised-button
            color="primary"
            (click)="resetTimer()">
      Reset
    </button>
  </div>
  <div class="timer-label">
    {{ timeLabel }}
  </div>
</div>
